.loginDiv {
  width: 100%;
  max-width: 330px;
  height: 55%;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px lightgray;
}
.loginDiv > input:first-of-type {
 margin-bottom: 1.5rem;
}
.loginDiv > input:last-of-type {
  margin-bottom: 2rem;
 }
input.form-control:focus {
  border-color: #ced4da;
  outline: 0;
  box-shadow: none;
}
 .logo-login{
  margin-top: 8vh;
  padding-bottom: 7vh;
 }